{
  "env": {
    "browser": true
  },
  "rules": {
    // Override our default settings just for this directory
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "on",
    "import/prefer-default-export": "on",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
